@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  @font-face {
    font-family: 'Dancing Script';
    src: url('/fonts/DancingScript/DancingScript-Bold.ttf');
    src: url('/fonts/DancingScript/DancingScript-SemiBold.ttf');
    src: url('/fonts/DancingScript/DancingScript-Medium.ttf');
    src: url('/fonts/DancingScript/DancingScript-Regular.ttf');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Gemunu Libre';
    src: url('/fonts/GemunuLibre/GemunuLibre-ExtraBold.ttf');
    src: url('/fonts/GemunuLibre/GemunuLibre-ExtraLight.ttf');
    src: url('/fonts/GemunuLibre/GemunuLibre-Light.ttf');
    src: url('/fonts/GemunuLibre/GemunuLibre-Medium.ttf');
    src: url('/fonts/GemunuLibre/GemunuLibre-Regular.ttf');
    src: url('/fonts/GemunuLibre/GemunuLibre-SemiBold.ttf');
    font-display: swap;
  }
  
  html{
    @apply font-system font-normal;
    @apply scroll-smooth
  }
  
  *::-webkit-scrollbar {
    @apply w-2 rounded-2xl
  }
  
  *::-webkit-scrollbar-track {
    @apply bg-gray-100
  }
  
  *::-webkit-scrollbar-thumb {
    @apply bg-site
  }
}

@layer utilities{
  .DetailContent{
    @apply text-gray-600
  }
  
  .DetailContent p{
    @apply mb-2 lg:text-lg text-base
  }
  
  .DetailContent ul{
    @apply list-disc pl-6
  }
  
  .DetailContent ul li{
    @apply py-1
  }
  
  .DetailContent h1,
  .DetailContent h2,
  .DetailContent h3,
  .DetailContent h4,
  .DetailContent h5,
  .DetailContent h6{
    @apply mt-6 mb-4 font-semibold lg:text-2xl text-xl text-black
  }
  
  .clip-your-needful-style {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
  }
}

#bannerSection .slick-dots{
  @apply !gap-x-4 !flex justify-center items-center lg:!bottom-10 !bottom-4
}

#bannerSection .slick-dots li{
  @apply !w-4 !h-4 !m-0 !p-0
}

#bannerSection .slick-dots li button:before{
  @apply !w-full !h-full !text-sm transition-all !text-white bg-white shadow-lg shadow-black rounded-full !opacity-75
}

#bannerSection .slick-dots li.slick-active button:before{
  @apply !opacity-100 !text-site bg-site scale-125
}

#gallerySection .slick-slider .slick-prev, 
#gallerySection .slick-slider .slick-next{
  @apply w-auto h-auto
}

#gallerySection .slick-slider .slick-prev{
  @apply !-left-16
}

#gallerySection .slick-slider .slick-next{
  @apply !-right-16
}

#gallerySection .slick-slider .slick-prev::before, 
#gallerySection .slick-slider .slick-next::before{
  @apply text-5xl text-gray-400 transition-all
}

#gallerySection .slick-slider .slick-prev:hover::before, 
#gallerySection .slick-slider .slick-next:hover::before{
  @apply text-site
}

#gallerySection .slick-dots{
  @apply !gap-x-2 !flex justify-center place-items-center -bottom-16 overflow-x-auto py-6
}

#gallerySection .slick-dots li button:before{
  @apply !w-full !h-full !text-sm transition-all !text-white bg-white shadow-lg shadow-gray-400 rounded-full !opacity-75
}

#gallerySection .slick-dots li.slick-active button:before{
  @apply !opacity-100 !text-site bg-site scale-125
}